.address_finder_dropdown {
	display: none;
	position: absolute;
	z-index: 1000000;
	min-height: 30px;
	width: 100%;
	max-width: 330px;
	margin: -16px auto 0 auto;
	/*margin-left: -30px;*/
	background-color: white;
	border: 1px solid #CCCCCC;
	max-height: 237px;
	left: 0;
	right: 0;
	top: 286px;
	font-size: 13px;
}
@media (max-width: 479px) {
	.address_finder_dropdown {
		top: 268px;
	}
}

.address_finder_dropdown .scroller {
	overflow-y: scroll;
	max-height: 206px;
}

.address_finder_row, .address_finder_error {
	border-bottom: 1px solid #CCCCCC;
	cursor: pointer;
	position:relative;
	padding: 5px 30px 5px 5px;
	line-height: 1.3;
}
.address_finder_error:hover {
	color: white;
	background-color: #68b6d8;
}
.address_finder_row:last-of-type {
	border-bottom: none;
}
#address {
	height: 68px;
}
textarea[name=address_finder] {
	width: 300px;
	border: 1px solid #ccc;
	resize: none;
	min-height: 30px;
	padding-top: 15px !important;
	padding-bottom: 11px !important;
	padding-right: 38px !important;
	padding-left: 20px;
	overflow: hidden;
	height: 52px;
}
@media (max-width: 469px) {
	textarea[name=address_finder] {
		width: 100%;
		height: 66px;
	}
}
textarea[name=address] {
	width: 300px;
	border: 1px solid #ccc;
	resize: none;
	min-height: 30px;
	padding-top: 15px !important;
	padding-bottom: 11px !important;
	padding-right: 38px !important;
	padding-left: 20px;
	overflow: hidden;
	height: 52px;
}
.address_finder_postal_text {
	/* color:#309ff9;*/
	color: #68b6d8;
	padding-right: 5px;
	line-height: 1.3;
	display: inline-block;
	/* white-space: nowrap; */
}
.address_finder_error {
	text-decoration: underline;
	border-top: 1px solid #CCCCCC;
}
.address_finder_error input[type=button] {
 	border: 1px solid #ccc;
 	height: 26px;
 	margin: 0 5px;
 	padding: 0;
 	width: 46px;
}
.address_finder_keep_typing {
	padding: 5px;
	background-color: #a1a0a0;
	color: #ffffff;
	text-align: center;
	font-size: 12px;
}
.address_finder_my_address {
	color:#00aabd;
	cursor: pointer;
}
.address_finder_my_address_div {
	text-align: center;
}
.address_finder_row:hover .address_finder_postal_text {
	color:#ffffff;
}
.address_finder_row:hover {
	background-color:#68b6d8;
	color:#ffffff;
}
.address_finder_row:after {
	position:absolute;
	right:10px;
	top:0; bottom:0;
	content:"\f105";
	font-family:FontAwesome;
	margin: auto;
	height:16px;
	font-size: 22px;
	color: #68b6d8; /* #309ff9; */ /*#c6c6c6;*/
	/*opacity:0.5;*/
	line-height: 80%;
}
.address_finder_row:hover:after {
	color: #ffffff;
}

.address_finder_row.checkmark:after {
	content: url("../img/check.png");
	margin: auto 0;
}
.address_finder_row.checkmark:hover:after {
	content: url("../img/check-white.png");
	margin: auto 0;
}

.address_display {
	display: none;
	color: #00aabd;
	font-size: 15px;
}
.change_address {
	color: #FBA919;
	display: none;
	font-size:13px;
	white-space:nowrap;
}
